PORT=3000
CORS_ORIGIN=*

# Dify base URL examples:
# Cloud: https://api.dify.ai/v1
# Self-hosted: http://your-dify-domain/v1
DIFY_BASE_URL=https://api.dify.ai/v1
DIFY_API_KEY=*******
DIFY_OUTPUT_KEY=result
DIFY_USER_PREFIX=ai-cook
